
@{
    ViewBag.Title = "Permissions";
}

<h2>Permissions</h2>

<p>To access this application you must be a member of one of these Active Directory groups:</p>

<ul>
    <li>Intranet_CABudget-Full</li>
    @*<li>ITLead</li>*@
</ul>
