<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SP_START_JOB" value="sp_start_job" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="JOB_NAME" value="SSAS - Refresh SL Cube - Budget Upload" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
  </appSettings>
  <connectionStrings>
    <add name="SLConnection" connectionString="Data Source=SQL-PRD-EIM1;Initial Catalog=SL;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="HIConnection" connectionString="Data Source=SQL-PRD-EIM1;Initial Catalog=HI;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
     xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="MSDBConnection" connectionString="Data Source=SQL-PRD-EIM1;Initial Catalog=msdb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
     xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes" xdt:Locator="Match(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>